<html>
<head>
    <title>Admin Panel</title>
</head>
<body>

    <link rel="stylesheet", href="/static/style.css">
        

    <h1>Admin Panel</h1>


    <details>
        <summary>Current IDs</summary>
        <ul>
            {% for id in ids %}
                <li>{{ id.id }}: {{ id.name }}</li>
            {% endfor %}
        </ul>
    </details>

    <br>

    <details class="unselectable" id="add-id">
        <summary>add id</summary>
        <ul>
            <form action="/submit" method="post">
                <input type="text" id="username" name="username" placeholder="ID Name" required>
                <button type="submit">Add ID</button>
            </form>

        </ul>
    </details>

    <br>
    
    <details class="unselectable" id="remove-id">
        <summary>remove id</summary>
        <ul>
            <form action="/remove" method="post">
                <input type="number" id="remove_id" name="remove_id" placeholder="ID to Remove" required>
                <button type="submit">Remove ID</button>
            </form>

        </ul>
    </details>



</body>
</html>